/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/



@font-face {
    font-family: 'dancingScript';
    src: url('../font/DancingScript.woff') format('woff');
}

@font-face {
    font-family: 'Biloxi';
    src: url('../font/Biloxi.woff') format('woff');
}

@font-face {
    font-family: 'Amantic';
    src: url('../font/Amantic.woff') format('woff');
}

html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

header {
    height: 100%;
    -webkit-clip-path: polygon(0% 0%, 50% 0, 100% 0%, 100% calc(100% - 100px), 50% 100%, 0 calc(100% - 100px));
            clip-path: polygon(0% 0%, 50% 0, 100% 0%, 100% calc(100% - 100px), 50% 100%, 0 calc(100% - 100px));
}

.headline-container {
    position: absolute;
    bottom: 100px;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
}

@media screen and (min-width: 768px) {
    .headline-container {
        top: 65%;
    }
}

.content {
    background-color: #a08a71;
}

@media screen and (min-width: 750px) {
    .content {
        max-width: 750px;
        margin: 0 auto;
        text-align: center;
    }
}

.headline-font {
    font-family: 'Biloxi', Fallback, sans-serif;
    font-weight: bold;
}

.subheadline-font {
    font-family: 'Amantic';
}

h1 {
    font-size: 72px;
}

h2 {
    font-size: 72px;
    text-align: center;
}

.animate {
    -webkit-transition: all ease-in-out 750ms;
    -o-transition: all ease-in-out 750ms;
    transition: all ease-in-out 750ms;
    opacity: 1;
    margin: 0;
}

.fade-in {
    opacity: 0;
    -webkit-transform: scale(0.75);
        -ms-transform: scale(0.75);
            transform: scale(0.75);
}

.right-to-left {
    margin-left: -150px;
    opacity: 0;
}

.left-to-right {
    margin-right: -150px;
    opacity: 0;
}

.box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 900px;
    padding: 130px 15px 130px 15px;
    margin-top: -60px;
    -webkit-clip-path: polygon(0% 0%, 50% 100px, 100% 0%, 100% 800px, 50% 100%, 0 800px);
            clip-path: polygon(0% 0%, 50% 100px, 100% 0%, 100% 800px, 50% 100%, 0 800px);
    background-color:#FAEBD7;
}

.small-box {
    height: 200px;
    margin: 0px 0px 75px 0px;
    clip-path: none;
}

@media screen and (min-width: 768px) {
    .box {
        padding: 130px 50px 130px 50px;
    }
}

.img-container {
    display: flex;
    justify-content: center;
    height: 100%;
    margin-top: -60px;
    max-height: 2000px;
    -webkit-clip-path: polygon(0% 0%, 50% 100px, 100% 0%, 100% calc(100% - 100px), 50% 100%, 0 calc(100% - 100px));
            clip-path: polygon(0% 0%, 50% 100px, 100% 0%, 100% calc(100% - 100px), 50% 100%, 0 calc(100% - 100px));
}

img {
    max-width: 100%;
    height: auto;
}

.big-box {
    height: 1200px;
    -webkit-clip-path: polygon(0% 0%, 50% 100px, 100% 0%, 100% 1100px, 50% 100%, 0 1100px);
            clip-path: polygon(0% 0%, 50% 100px, 100% 0%, 100% 1100px, 50% 100%, 0 1100px);
}

.gallery-box {
    -webkit-clip-path: none;
            clip-path: none;
    height: auto;
    padding-right: 0;
    padding-left: 0;
}

.form-wrapper {
    padding: 10px;
}

.form-control {
    margin-bottom: 25px;
}

.form-select {
    margin-bottom: 25px;
}

.js-spinner, .js-overlay {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack:center;
        -ms-flex-pack:center;
            justify-content:center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.heart {
  position: relative;
}

.heart, .heart:before, .heart:after {
    display: block;
    width: 50px;
    height: 50px;
    background-color: #b70303;
    -webkit-transform: rotateZ(45deg);
        -ms-transform: rotate(45deg);
            transform: rotateZ(45deg);
}
  
.heart:before, .heart:after {
    content: '';
    position: absolute;
    border-radius: 50%;
}
    
.heart:before {
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    -webkit-animation: animX 3s infinite;
            animation: animX 3s infinite;
}
    

.heart:after {
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    -webkit-animation: animY 3s infinite 750ms;
            animation: animY 3s infinite 750ms;
}

@-webkit-keyframes animX {
    0%, 25% {
        -webkit-transform: translateX(-50%);
                transform: translateX(-50%);
    }
    50%, 75% {
        -webkit-transform: translateX(50%);
                transform: translateX(50%);
    }
}

@keyframes animX {
    0%, 25% {
        -webkit-transform: translateX(-50%);
                transform: translateX(-50%);
    }
    50%, 75% {
        -webkit-transform: translateX(50%);
                transform: translateX(50%);
    }
}
    
@-webkit-keyframes animY {
    0%, 25% {
        -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
    }
    50%, 75% {
        -webkit-transform: translateY(50%);
                transform: translateY(50%);
    }
}
    
@keyframes animY {
    0%, 25% {
        -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
    }
    50%, 75% {
        -webkit-transform: translateY(50%);
                transform: translateY(50%);
    }
}

.invert-link {
    color: black;
    text-decoration: underline;
    margin-bottom: 10px
}

.invert-link:hover {
    text-decoration: none;
    color: rgb(65, 65, 65);
}

.mb-5 {
    margin-bottom: 25px;
}

.js-submit {
    background-color: #cdb8e0;
    border: 0;
    color: black;
    font-size: 150%;
}

.pb-100 {
    padding-bottom: 100px;
}

ul {
    list-style-type: none;
}

p {
    font-size: 30px;
    padding: 10px;
    margin-top: 30px;
}

.subscription {
    font-size: 40px;
}

.overlay-box {
    height: auto;
    width: 100%;
    color: white;
    background-color: black;
}

.tick {
    font-size: 40px;
}

.tick-text {
    font-size: 20px;
}

.tick-flip {
    top: 15px;
}